<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <style>
    body {
      padding: 3rem;
      font-family: sans-serif;
    }
  </style>
</head>
<body>
  <h1>ViewStack</h1>
  <p>Open the console</p>
  <div id="root"></div>
  <script>
    window.__SERVER_STATE__ = <%- serverState %>
    console.log(__SERVER_STATE__)
  </script>
  <script src="test.bundle.js"></script>
</body>
</html>
