<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>
</head>
<body>
  <div id="root"></div>
  <script>
    window.__INITIAL_STATE__ = <%- initialState %>
    console.log(__INITIAL_STATE__)
  </script>
  <script src="test.bundle.js"></script>
</body>
</html>
